
.App button {
  background: linear-gradient(to right, #0a7e07 0%, #0a7e07 100%) !important;
  border-radius: 5px !important;
  padding: 10px !important;
  width: 200px !important;
  color: #fff;
}
.light {
  background: linear-gradient(to right, #f0a10f 0%, #f0a10f 100%) !important; 
  color: #fff !important;
  padding: 15px !important;
}
.particles {
  background: linear-gradient(to right, #0a7e07 0%, #0a7e07 100%);
}
.reg-particles {
  margin-top: -700px;
}
.particle-page {
  margin-top: -700px;
}

.loanCard {
   height: 500px;
   padding-top: 50px
}

.edit-button Button {
  color: #fff;
}
.product img {
  width: 100%;
  height: 260px;
}
.prod-footer {
  margin-top: 2px;
  padding: 10px;
}
.prod-footer:hover {
  background: #e4e5e6;
}
.label {
  /* background: linear-gradient(to right, #cc0bcc 0%, #cc0bcc 100%); */
  background: linear-gradient(to right, #f0a10f 0%, #f0a10f 100%); 
  padding: 7px;
  color: #fff;
}
.single-prod img {
  width: 80%;
  height: auto;
  margin: 30px;
}
@media only screen and (max-width: 480px) {
  .menu {
    background: white !important;
  }
}

@media only screen and(max-width: 480px) {
  .menu-form {
    padding: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .loanCard {
    height: 500px;
    padding-top: 100px;
  }
}
@media only screen and (max-width: 480px) {
  .reg-particles {
    margin-top: -250px;
  }
}

@media only screen and (max-width: 480px) {
  .edit-button {
    margin-top: 15px;
    color: #fff;
  }
}

@media only screen and (max-width: 490px) {
  .particle-page {
    margin-top: -250px;
    padding: 15px;
  }
}